@import '../../utils/theme.scss';

.img-wrapper{
    position: relative;
    left: -7%;
    top: -7%;
    grid-area: image;
    img{
        width: 150px;
        height: 150px;
        border-radius: 100%;
        border: 1px solid rgba(1, 0, 0, .1);
        transition: all .5s ease;
    }
    @media (max-width: 575px) {
        text-align: center;
        left: 0;
    }
}

.title-description{
    position: relative;
    top: -8%;
    grid-area: description;
    align-self: start;
    h1 {
        font-size: 2rem;
        color: $title-color;
        transition: all .5s ease;
        font-weight: bold;
    }
    p {
        font-size: .9rem;
        margin-right: 15px;
        text-align: justify;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    @media (max-width: 575px) {
        p {
            font-size: 0.8rem;
            margin: 15px 15px 10px 15px;
            text-align: justify;
        }
    }
}

.comics{
    grid-area: comics;
    p {
        margin-left: 10px;
    }
    h4 {
        margin-left: 10px;
        font-size: 1.4rem;
        color: $text-color;
        text-align: left;
    }
    .comics-wrapper {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        margin-bottom: 10px;
        p {
            width: 45%;
            margin: 2px 10px;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: all .5s ease;
        }
        p:hover{
            color: $brown-color;
            font-size: 105%;
        }
        
        @media (max-width: 575px) {
            p {
                width: 80%;
                margin: 2px 10%;
            }
        }
    }
}

.info-wrapper {
    background-color: white;
    width: 500px;
    margin: 50px;
    display: grid;
    gap: 10px;
    grid-template-columns: 180px auto;
    grid-template-rows: 200px auto;
    grid-template-areas:
    "image description" 
    "comics comics";
    @media (max-width: 575px) {
        width: 80%;
        margin: 10%;
        text-align: center;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            "image" 
            "description" 
            "comics";
    }
}

.info-wrapper:hover{
    h1 {
        color: $red-color;
    }
    img {box-shadow: 3px 3px 5px 6px #ccc;}
}



button {
    border: none;
    background-color: $red-color;
    color: $bg-color;
    font-size: .8rem;
    padding: 5px 8px;
}

p{
    color: $text-color;
}