@import './utils/theme.scss';

.header {
    grid-area: header;
}

.main {
    grid-area: main;
    min-height: 80vh;
    background-color: $bg-color;
}

.footer {
    grid-area: footer;
}

.app {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: auto auto auto;
}